body{
    background-color: rgb(221, 211, 211);
}
.container-1{
    display: flex;
    flex-direction: row;
    padding-left: 20px;
}
.par{
    padding-bottom: 30px;
}
.box-1{
    padding: 10px;
    border: 1px solid grey;
    background-color: rgb(255, 255, 255);
    
}
.all-1 {
    display: flex;
    flex-direction: column;
}
.box-2{
    padding: 10px;
    border: 1px solid grey;;
    width: 80%;
    background-color: rgb(255, 255, 255);
}
.all-2 {
    display: flex;
    flex-direction: column;
}
.box-3{
    padding: 10px;
    border: 10px;
    margin:5px;
    padding-left: 20px;
    background: #b5bdc8;
    background: linear-gradient(to right, #eb1a82 0%, #a311c0 36%, #970690 100%);
    font-size: 16px; 
    padding: 20px 30px; /* Поля вокруг текста */
    color: #fff; /* Цвет текста */
    border: 1px solid #333; /* Параметры рамки */
    border-radius: 5px; /* Радиус скругления */
}
.par-2{
    margin-top: 50px;
    padding-bottom: 30px;
}
.container-2{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}
.box-5{
    display: flex;
    padding: 10px;
    border: 2px solid grey;
    
    background-color: rgb(255, 255, 255);
    align-items: center;
	
}
.box-6{
    display: flex;
    padding: 10px;
    border: 2px solid grey;
    
    background-color: rgb(255, 255, 255);
    align-items: center;
	
}
.ba-2{
    color: #fff; 
  text-decoration: none; 
  user-select: none; 
  background: rgb(21, 138, 31);
  padding: .7em 1.5em; 
  border:2px solid white;
  border-radius: 10px;
}
.row{
    display: flex;
    justify-content: space-between;
}
.bat{
    padding-top: 10px;
}
.bt-1{
    font-size: 20px;
}
.bt-2{
    color: rgba(141, 145, 148, 0.685);
}
.bt-3{
    font-size: 20px;
}
.bt-4{
    color: rgba(141, 145, 148, 0.685);
}
.cul-1{
    display: flex;
    flex-direction: column;
    padding-right: 40px;
}
.cul-2{
    display: flex;
    flex-direction: column;
    padding-right: 40px;
}
.cul-3{
    display: flex;
    flex-direction: column;
    padding-right: 40px;
}
.cul-4{
    display: flex;
    flex-direction: column;
    padding-right: 40px;
}
.cul-5{
    display: flex;
    flex-direction: column;
    padding-right: 40px;
}
.ba-1{
    color: rgb(177, 171, 164);
}