body{
    height: 800px;
    width: 360px;
    border: 1px solid black;
}
            .header{
    display: flex;
    flex-direction: row;
}
            .menu{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    

}
.simb-1{
display: flex;
background-color: white;
border: none;
margin-left: 15px;
}
            .searh{
    display: flex;
    
    margin: 10px 10px 10px 30px;
}
.search-1{
    display: flex;
    border: 1px solid #EBEBEB;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgb(220, 224, 224);
    margin: 10px 10px 10px 20px;
    padding: 10px;
    padding-right: 24px;
    font-size: 17px;
    font-weight: 800px;
    
}
.cont-2{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid grey;
    position: relative;
}
.date{
display: flex;
border: 1px solid rgb(220, 224, 224);
border-radius: 4px;
margin: 10px 10px 10px 15px;
background-color: white;
}
.date-1{
    padding: 6px 6px 3px;
    border-width: 2px;
    font-size: 14px;
}
.guests{
    display: flex;
    border: 1px solid rgb(220, 224, 224);
    border-radius: 4px;
    background-color: white;
    margin: 10px 10px 10px 0px;
}
.guests-1{
    padding: 6px 6px 3px;
    border-width: 2px;
    font-size: 14px;
}
            .chose{
                display: flex;
                flex-direction: column;
                margin-left: 10px;
            }
            .chose-1{
                display: flex;
                margin: 10px 0px 5px 10px;
                font-size: 24px;
                line-height: 30px;
                font-weight: 800;
                

            }
            .chose-2{
                display: flex;
                flex-direction: row;
            }
            .homes{
                display: flex;
                flex-direction: column;
                box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px;
                
                margin-right: 10px;
                margin-left: 10px;
                width: 138px;
            }
            .homes-1{
                display:flex;
                padding-bottom: 30px;
                padding-top: 10px;
                padding-left: 10px;
                font-size: 14px;
                font-weight: 800;
                border: rgba(0,0,0.2);
                
                color: rgb(72, 72, 72);
            }
            .exper{
                display: flex;
                flex-direction: column;
                box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px;
                
                width: 150px;
            }
            .exper-1{
                display:flex;
                padding: 10px;
                font-size: 14px;
                font-weight: 800;
                color: rgb(72, 72, 72);
                
            }
.zag{
    display: flex;
    margin-top: 10px;
    color: rgb(72, 72, 72);
    font-size: 24px;
    font-weight: 800;
    margin-left: 15px;

}
.zag-1{
    display: block;
    margin-bottom: 10px;
    color: rgb(72, 72, 72);
    font-size: 14px;
    margin-left: 15px;

}
.row{
    display: flex;
    
    overflow: hidden;
    overflow: auto;
    padding: 5px; 
    margin: 0px 10px 10px 10px;
}
.im-1{
    display: flex;
    flex-direction: row;
    font-size: 14px;
    font-weight: 800;
    margin-left: 5px;;
}
.sr1{
    display: flex;
    width: 204px;
    height: 136px;
    border-radius: 3px;
    margin: 5px;
    
}
.im-5{
    display: flex;
    margin-left: 5px;

}
.im-2{
    display: flex;
    font-size: 12px;
    font-weight: 800;
    margin: 10px 0 0 5px; 
}
.ima{
 width: 138px;
 height: 77px;
 background-image: url(https://a0.muscache.com/4ea/air/v2/pictures/8b7519ec-2c82-4c09-8233-fd4d2715bbf9.jpg?t=r:w375-h250-sfit,e:fjpg-c80);
 background-size: cover;
 background-repeat: no-repeat;
border: none;


}
.sv{
    display: flex;
    flex-direction: row;
    color: #914669;
    margin:10px 0px 0px 5px;
    
}
svg{
    width: 9px;
}
.nu{
    color: black;
    margin-left: 10px;
    font-size: 12px;
}
.box-1{
    width: 216px;
    height: 243px;
}