body{
    height: 100%;
    width: 100%;
}
.head{
    display: flex;
    flex-direction: column;

}
.head-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(252, 213, 213);
    
}
.s18y{
    display: flex;
    font-size: 30px;
    padding: 10px;
}
.d101{
    display: flex;
    font-size: 30px;
    padding: 10px 30px 10px 10px;
}
#navbar ul {
    display: none;
    background-color: rgb(170, 245, 255);
    position: absolute;
    top: 100%;
  }
  #navbar li:hover ul { display: block; }
  #navbar, #navbar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  #navbar {
    height: 30px;
    background-color: rgb(255, 223, 245);
    padding-left: 25px;
    min-width: 470px;
  }
  #navbar li {
    float: left;
    position: relative;
    height: 100%;
  }
  #navbar li a {
    display: block;
    padding: 6px;
    width: 100px;
    color: rgb(133, 52, 52);
    text-decoration: none;
    text-align: center;
  }
  #navbar ul li { float: none; }
  #navbar li:hover { background-color: #f90; }
  #navbar ul li:hover { background-color: rgb(255, 255, 255); }



  .main-t1{
      display: flex;
      border: 1px solid rosybrown;
      border-radius: 5px;
      margin: 40px 40px 0px 80%;
      padding: 20px;
  }