.full{
    
    width:360px;
    height: 700px;
    border: 1px solid black;
    background-color: #FAFBFD;
}
.cont-1{
    display: flex;
    background-color: black;
    color: white;
    flex-direction: column;
}
.box-1{
    display: flex;
    justify-content: space-between;
    margin: 10px;

}
.box-2{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.cont-2{
    display: flex;
    flex-direction: row;
    margin: 20px;
    background-color: white;
   
}
.box-21{
    display: flex;
border: 1px solid grey;
width: 50%;
justify-content: center;

}
.box-22{
    display: flex;
    border: 1px solid grey;
    width: 50%;
justify-content: center;
    
    
}
.b-21{
    margin: 10px;
    color: blue;
    font-weight: 500;
    font-size: inherit;
}
.cont-3{
    display: flex;
    flex-direction: column;
    margin:20px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 3px;
}
.box-31{
    display: flex;
    border: 0px solid grey;

}
.box-32{
    display: flex;
    justify-content: left;
    border-top: 1px solid grey;
}
.lat{
    margin: 5px;
}
.tmaster{
    margin: 10px;
    font-weight: 600;
    font-size: 14px;
}
.box-33{
    display: flex;
    flex-direction: row;
    display: flex;
    
}
.vc{
display: flex;
border-top: 1px solid grey;
width:50%;
justify-content: center;

}
.jtf{
display: flex;
border-top: 1px solid grey;
border-left: 1px solid grey;
width: 50%;
justify-content: center;

}
.vc-1{
    text-align: center;
    margin: 10px;
    color:blue;
}

.cont-4{
    display: flex;
    flex-direction: column;
    margin:20px;
    background-color: #F6F8FA;
    border: 1px solid grey;
    border-radius: 3px;
}
.box-41{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.te-41{
    display: flex;
    margin: 5px;
}
.tex-41{
    display: flex;
    margin: 5px;
}
.box-42{
    display: flex;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    justify-content: center;
    
}

.box-43{
    display: flex;
    
    justify-content: center;
    
    
}
.cont-5{
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    border-radius: 3px;
    margin: 20px;
    background-color: #F6F8FA;
}
.box-51{
    display: flex;
    justify-content: left;
    
}
.box-52{
    display: flex;
    justify-content: center;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}
.box-53{
    display: flex;
    justify-content: center;
   
}

.text-42{
    margin: 10px;
}
.text-43{
    margin: 10px;
}
.iis{
    margin: 10px;
    font-size: 14px;
}
.lat{
    font-size: 12px;
    
}
.txt-1{
    font-size: 14px!important;
    font-weight: 600;
}