body{
    width: 320px;
    height: 100%;
    margin-left: -0px;
    background-image: url('pho/bgt.jpg');
    background-size: cover;
    background-position-y: 67px;

}
.heder{
    display: flex;

}
.na1{
    color: aqua;
    font-size: 24px;
    font-weight: 300;
}
.ci{
    display: flex;
    border: 1px solid red;
    background-color: rgb(134, 111, 111);
    margin: 20px;
    margin-right: 40px;

}
.ci1{
    color: red;
    font-weight: 300;

}



#navbar ul {
    display: none;
    background-color: rgb(170, 245, 255);
    position: absolute;
    top: 100%;
  }
  #navbar li:hover ul { display: block; }
  #navbar, #navbar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  #navbar {
    height: 30px;
    background-color: rgb(255, 223, 245);
    padding-left: 10px;
    min-width: 320px;

    border-top: none;
  }
  #navbar li {
    float: left;
    position: relative;
    height: 100%;
  }
  #navbar li a {
    display: flex;
    padding: 6px;
    width: 100px;
    color: rgb(133, 52, 52);
    text-decoration: none;
    text-align: center;
  }
  #navbar ul li { float: none; }
  #navbar li:hover { background-color: rgb(255, 104, 104); }
  #navbar ul li:hover { background-color: rgb(255, 255, 255); }